In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
#seteamos directorio
TP1 = path_parent = os.path.dirname("/Volumes/GoogleDrive-112553083728584115268/My Drive/Herramientas computacionales/Untitled/input")
print(TP1)

/Volumes/GoogleDrive-112553083728584115268/My Drive/Herramientas computacionales/Untitled

In [5]:
#Cargamos las bases de datos:
os.chdir(os.path.join(TP1,'input'))
print(os.getcwd())
data = pd.read_csv("tarea.csv") 
data

/Volumes/GoogleDrive-112553083728584115268/My Drive/Herramientas computacionales/Untitled/input

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [6]:
# importamos con pandas
import pandas
filename = 'tarea.csv'
data = pandas.read_csv(filename, header=0)
df = pd.DataFrame(data)

In [10]:
# Mostramos las primeras 5 filas
print (df.head(5))

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [11]:
# Mostramos las primeras 3 filas - acá intentamos con (.nrows==3) pero nos tiró error. 
print (df.head(3))
#print (df.nrows==3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [12]:
#Imprimir el contenido de una columna como serie 
series = df.iloc[:,0]
print("\nFirst column as a Series:\n")
print(series)
print(type(series))

First column as a Series:

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64
<class 'pandas.core.series.Series'>

In [13]:
#Crear una nueva serie 'calidad-color' CHEQUEAR, esta mal
s = pd.Series(['calidad-color'])
#serie= pd.Series(data=cut, index=color)
s

0    calidad-color
dtype: object

In [14]:
#Número de filas y columnas
print(data.shape)

(53940, 10)

In [15]:
#Tipos de datos de cada columna
print(data.dtypes)

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [16]:
#Columnas objeto
df.describe(include=['object'])

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [17]:
#Rename columns color and clarity
df.rename(columns = {'color':'yellow', 'clarity':'butterfly'}, inplace = True)
list (df)

['carat',
 'cut',
 'yellow',
 'butterfly',
 'depth',
 'table',
 'price',
 'x',
 'y',
 'z']

In [18]:
#Eliminamos 2 y 3 columna
df.drop(columns=['cut', 'yellow'])

       carat butterfly  depth  table  price     x     y     z
0       0.23       SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21       SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29       VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...       ...    ...    ...    ...   ...   ...   ...
53935   0.72       SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70       SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86       SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75       SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 8 columns]

In [19]:
#Eliminamos múltiples filas a la vez
df.drop([2,3,4,8,12], axis=0, inplace=True)
df

,carat,cut,yellow,butterfly,depth,table,price,x,y,z
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
5,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,NaN,2.48
6,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [20]:
#Ordenar la columna `cut’ en orden ascendente. Qué tipo de objeto es?
df.sort_values('cut', inplace=True)
df.head()

       carat   cut yellow butterfly  depth  table  price     x     y     z
30718   0.35  Fair      E      VVS2   66.2   61.0    738  4.40  4.36  2.90
19276   1.52  Fair      H       SI1   65.3   58.0   8001  7.14  7.10  4.65
15940   2.03  Fair      G        I1   66.3   56.0   6377  7.81  7.75  5.16
3839    0.90  Fair      D       SI2   64.9   57.0   3473  6.03  5.98  3.90
3841    0.90  Fair      D       SI2   64.5   61.0   3473  6.10  6.00  3.90

In [21]:
#Ordenar toda la base por 'carat' en orden descendente
by_carat = df.sort_values('carat', ascending=False)
by_carat.head()

,carat,cut,yellow,butterfly,depth,table,price,x,y,z
27415,5.01,Fair,J,I1,65.5,59.0,18018,10.74,10.54,6.98
27630,4.50,Fair,J,I1,65.8,58.0,18531,10.23,10.16,6.72
27130,4.13,Fair,H,I1,64.8,61.0,17329,10.00,9.85,6.43
25998,4.01,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17
25999,4.01,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24

In [22]:
#Filtrar aquellas filas que x>5, y>5 y z>5
print(df[(df.x > 5) & (df.y > 5) & (df.z > 5)])

       carat        cut yellow butterfly  depth  table  price     x     y  \
15940   2.03       Fair      G        I1   66.3   56.0   6377  7.81  7.75
22667   2.01       Fair      I       SI2   66.9   58.0  10711  7.93  7.69
20337   2.00       Fair      I       SI2   69.1   56.0   8736  7.84  7.70
17481   2.11       Fair      F        I1   67.6   57.0   7019  7.88  7.83
23841   2.10       Fair      G       SI2   65.0   56.0  11923  8.09  7.98
...      ...        ...    ...       ...    ...    ...    ...   ...   ...
25812   2.19  Very Good      I       SI1   62.6   58.0  14819  8.24  8.33
25813   2.16  Very Good      H       SI2   62.3   60.0  14824  8.19  8.31
19894   2.25  Very Good      J       SI2   60.6   63.0   8442  8.45  8.38
25815   2.31  Very Good      J       VS2   59.7   60.0  14830  8.53  8.59
25807   2.01  Very Good      I       SI1   62.8   60.0  14811  7.99  8.04

          z
15940  5.16
22667  5.21
20337  5.37
17481  5.31
23841  5.21
...     ...
25812  5.19
25813  5.14
19894  5.10
25815  5.11
25807  5.03

[1457 rows x 10 columns]

In [23]:
#Filtrar las filas para que sólo muestren `carat’ mayor a 0,4 
print(df[(df.carat > 0.4)])

       carat        cut yellow butterfly  depth  table  price     x     y  \
19276   1.52       Fair      H       SI1   65.3   58.0   8001  7.14  7.10
15940   2.03       Fair      G        I1   66.3   56.0   6377  7.81  7.75
3839    0.90       Fair      D       SI2   64.9   57.0   3473  6.03  5.98
3841    0.90       Fair      D       SI2   64.5   61.0   3473  6.10  6.00
5894    0.90       Fair      D       VS2   57.5   66.0   3931  6.30  6.25
...      ...        ...    ...       ...    ...    ...    ...   ...   ...
19887   1.24  Very Good      H      VVS2   61.3   55.0   8438  6.94  6.96
25807   2.01  Very Good      I       SI1   62.8   60.0  14811  7.99  8.04
25808   2.01  Very Good      J       VS1   61.2   60.0  14812  8.06  8.14
23528   1.51  Very Good      G       VS2   62.1   57.0  11532  7.37  7.32
9303    1.03  Very Good      H       SI1   63.5   53.0   4573  6.43  6.46

          z
19276  4.65
15940  5.16
3839   3.90
3841   3.90
5894   3.61
...     ...
19887  4.26
25807  5.03
25808  4.96
23528  4.50
9303   4.09

[39549 rows x 10 columns]

In [ ]:
#Filtrar filas que son Premium o Ideal (tarea.cut.sin() o usar |). Acá pude poner solo 1, cómo poner 2 opciones? Osea añadir Ideal también?
#df_cut=df['cut']=='Premium'
#df_cut1=df['cut']=='Ideal'
#filtered_df = df[df_cut]
#print (filtered_df)
df.cut.sin()

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [24]:
#Summary statistics
df[["carat"]].describe()

              carat
count  53935.000000
mean       0.797990
std        0.474004
min        0.200000
25%        0.400000
50%        0.700000
75%        1.040000
max        5.010000

In [25]:
#Calcular la media de cada columna numérica
mean_df = df['carat'].mean()
print(mean_df)

mean_df = df['depth'].mean()
print(mean_df)

mean_df = df['table'].mean()
print(mean_df)

mean_df = df['price'].mean()
print(mean_df)

mean_df = df['x'].mean()
print(mean_df)

mean_df = df['y'].mean()
print(mean_df)

mean_df = df['z'].mean()
print(mean_df)

0.7979901733568319
61.74941689070051
57.456892555854246
3933.13325298971
5.731311393343859
5.734714651240308
3.538829887827963

In [26]:
#Calcular la media del precio de cada tipo de `cut’
df.groupby('cut').price.mean()

cut
Fair         4361.257303
Good         3930.331770
Ideal        3457.541970
Premium      4584.873595
Very Good    3981.759891
Name: price, dtype: float64

In [27]:
#Mostrar los valores que puede tomar `cut’
print(df['cut'].unique())

['Fair' 'Good' 'Ideal' 'Premium' 'Very Good']

In [28]:
#Contar cuántas veces aparece cada valor de `cut’
df.cut.value_counts()

Ideal        21551
Premium      13789
Very Good    12082
Good          4904
Fair          1609
Name: cut, dtype: int64

In [ ]:
#Mostrar los porcentajes de cada valor de `cut’. NO ME SALE ESTE!!!!!
df ['percent'] =(df ['cut'] / df['cut']. sum()) * 100

TypeError: ignored

In [32]:
#Calcular una tabla de doble entrada con `cut’ y `color’
pd.crosstab(df.cut, df.yellow)

yellow        D     E     F     G     H     I    J
cut
Fair        163   223   312   314   303   175  119
Good        662   932   909   871   702   522  306
Ideal      2834  3903  3826  4884  3115  2093  896
Premium    1603  2337  2330  2924  2360  1427  808
Very Good  1513  2400  2164  2299  1824  1204  678

In [33]:
#Crear un histograma de ‘cut’. No hace el historgrama porque es string, hay que definirlo bien
df.hist(). 
#import matplotlib.pyplot as plt
#df.plot(kind='hist')
#df.plot.hist(column=["cut"])

SyntaxError: invalid syntax (<ipython-input-33-4da0f6bcfb0d>, line 2)

In [ ]:
#Crear un gráfico de barras de ‘cut’--> NO ME SALE SOLO CON COLUMNA CUT
df.plot(kind = 'bar')

In [34]:
#Contar el número de missing valies en cada columna
df.isnull().sum()

carat        0
cut          0
yellow       0
butterfly    0
depth        0
table        0
price        0
x            0
y            1
z            0
dtype: int64

In [35]:
#Comprobar el número de filas y columnas y eliminarlas si falta algún valor en una fila 
df.info()
df.dropna(how='any')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53935 entries, 30718 to 9303
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   carat      53935 non-null  float64
 1   cut        53935 non-null  object
 2   yellow     53935 non-null  object
 3   butterfly  53935 non-null  object
 4   depth      53935 non-null  float64
 5   table      53935 non-null  float64
 6   price      53935 non-null  int64
 7   x          53935 non-null  float64
 8   y          53934 non-null  float64
 9   z          53935 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.5+ MB

,carat,cut,yellow,butterfly,depth,table,price,x,y,z
30718,0.35,Fair,E,VVS2,66.2,61.0,738,4.40,4.36,2.90
19276,1.52,Fair,H,SI1,65.3,58.0,8001,7.14,7.10,4.65
15940,2.03,Fair,G,I1,66.3,56.0,6377,7.81,7.75,5.16
3839,0.90,Fair,D,SI2,64.9,57.0,3473,6.03,5.98,3.90
3841,0.90,Fair,D,SI2,64.5,61.0,3473,6.10,6.00,3.90
...,...,...,...,...,...,...,...,...,...,...
25808,2.01,Very Good,J,VS1,61.2,60.0,14812,8.06,8.14,4.96
43613,0.31,Very Good,E,SI1,63.0,58.0,507,4.29,4.31,2.71
43616,0.34,Very Good,G,SI1,61.5,56.0,507,4.45,4.52,2.76
23528,1.51,Very Good,G,VS2,62.1,57.0,11532,7.37,7.32,4.50
9303,1.03,Very Good,H,SI1,63.5,53.0,4573,6.43,6.46,4.09

In [36]:
#Eliminar una fila si faltan todos los valores 
df.dropna(how='all')

,carat,cut,yellow,butterfly,depth,table,price,x,y,z
30718,0.35,Fair,E,VVS2,66.2,61.0,738,4.40,4.36,2.90
19276,1.52,Fair,H,SI1,65.3,58.0,8001,7.14,7.10,4.65
15940,2.03,Fair,G,I1,66.3,56.0,6377,7.81,7.75,5.16
3839,0.90,Fair,D,SI2,64.9,57.0,3473,6.03,5.98,3.90
3841,0.90,Fair,D,SI2,64.5,61.0,3473,6.10,6.00,3.90
...,...,...,...,...,...,...,...,...,...,...
25808,2.01,Very Good,J,VS1,61.2,60.0,14812,8.06,8.14,4.96
43613,0.31,Very Good,E,SI1,63.0,58.0,507,4.29,4.31,2.71
43616,0.34,Very Good,G,SI1,61.5,56.0,507,4.45,4.52,2.76
23528,1.51,Very Good,G,VS2,62.1,57.0,11532,7.37,7.32,4.50
9303,1.03,Very Good,H,SI1,63.5,53.0,4573,6.43,6.46,4.09

In [37]:
#Mostrar las filas 0, 2, 5 y todas las columnas 
df.iloc[[0, 2, 5], :].head()

       carat   cut yellow butterfly  depth  table  price     x     y     z
30718   0.35  Fair      E      VVS2   66.2   61.0    738  4.40  4.36  2.90
15940   2.03  Fair      G        I1   66.3   56.0   6377  7.81  7.75  5.16
5894    0.90  Fair      D       VS2   57.5   66.0   3931  6.30  6.25  3.61

In [38]:
#Mostrar las filas 0 a 2 (inclusive) y las columnas 'color' y 'precio' 
df.iloc[[0, 1, 2], [2, 6]]

      yellow  price
30718      E    738
19276      H   8001
15940      G   6377

In [55]:
#Mostrar las filas en las que la 'cut' es 'Premium' más la columna 'color'. 
#df.drop(['carat', 'butterfly', 'depth', 'table', 'price', 'x', 'y', 'z'], axis=1)
df.loc[df['cut'] == 'Premium']
#df.loc[(df['cut'] == 'Premium') & 'yellow', :]

       carat      cut yellow butterfly  depth  table  price     x     y     z
8330    1.09  Premium      H       SI2   61.2   62.0   4395  6.63  6.58  4.04
8224    1.06  Premium      F       SI2   62.4   58.0   4372  6.50  6.54  4.07
40712   0.53  Premium      H       SI1   61.2   60.0   1159  5.22  5.10  3.16
8331    1.09  Premium      H       SI2   61.2   62.0   4395  6.63  6.58  4.04
41971   0.40  Premium      F      VVS1   60.2   59.0   1263  4.74  4.76  2.86
...      ...      ...    ...       ...    ...    ...    ...   ...   ...   ...
17857   1.33  Premium      H       SI1   61.1   61.0   7204  7.05  7.02  4.30
15681   1.22  Premium      G       SI1   62.3   58.0   6288  6.83  6.76  4.23
18976   1.00  Premium      D       VS1   62.1   55.0   7812  6.41  6.34  3.96
26861   2.03  Premium      I       SI1   61.2   58.0  16787  8.21  8.16  5.01
25186   1.51  Premium      F       VS2   62.0   62.0  13771  7.35  7.23  4.52

[13789 rows x 10 columns]

In [40]:
#Obtener 5 filas de muestra al azar 
df.sample(5)

,carat,cut,yellow,butterfly,depth,table,price,x,y,z
22082,1.64,Good,I,SI1,57.9,61.0,10102,7.78,7.74,4.49
26891,2.04,Premium,D,SI2,61.8,60.0,16872,8.09,8.13,5.01
35530,0.32,Ideal,G,IF,61.5,55.0,905,4.40,4.42,2.71
14582,1.13,Premium,H,VS2,62.4,58.0,5885,6.66,6.61,4.14
136,0.71,Very Good,F,VS1,60.1,62.0,2765,5.74,5.77,3.46

In [41]:
#Obtener una muestra del 75% de las filas sin reemplazarlas. 
df.sample(frac=0.75)

,carat,cut,yellow,butterfly,depth,table,price,x,y,z
45043,0.53,Ideal,F,SI1,61.5,56.0,1639,5.20,5.24,3.21
22393,1.55,Premium,I,VS1,58.2,60.0,10416,7.69,7.59,4.45
35698,0.30,Premium,E,VS1,61.3,59.0,911,4.33,4.28,2.64
14922,1.50,Good,G,SI2,57.5,63.0,6006,7.53,7.49,4.32
8774,1.01,Premium,F,SI2,62.6,54.0,4468,6.38,6.34,3.98
...,...,...,...,...,...,...,...,...,...,...
3365,0.25,Very Good,G,VS2,61.9,57.0,407,4.05,4.08,2.51
30735,0.35,Good,D,SI1,57.7,60.0,739,4.69,4.64,2.69
21700,0.31,Very Good,G,VVS2,62.7,55.0,627,4.32,4.35,2.72
11863,1.08,Ideal,F,SI1,62.9,57.0,5106,6.54,6.53,4.11
14354,1.01,Ideal,D,SI1,61.4,59.0,5812,6.40,6.44,3.94

In [42]:
#Contar las filas duplicadas
#print(df[df.duplicated()])
#print(df.duplicated(keep=False))
print(df.duplicated().sum())

146